{:paths ["src" "test"]
 :tasks
 {tamaki {:task (apply shell "bb" "-cp" "src:../hil/src" "-m" "kotoba.tamaki.cli" *command-line-args*)}
  test {:task (shell "bb" "-cp" "src:test:../hil/src" "-m" "kotoba.tamaki.test-runner")}}}
