{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.13.0"}
        kotoba-lang/hil {:local/root "../hil"}}
 :aliases
 {:run {:main-opts ["-m" "kotoba.tamaki.cli"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "kotoba.tamaki.test-runner"]
         :exec-fn kotoba.tamaki.test-runner/run}}}
